html,
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
#btn-all-close {
  margin-bottom: 10px;
  float: right;
  background-color: #726996;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 25px;
}
#btn-all-close:hover {
  background-color: yellow;
  color: black;
  transition: all 0.3s;
}
.panel-faq-container {
  /* border: 1px solid red; */
  margin-bottom: -16px;
}
.panel-faq-title {
  /* font-weight: 700; */
  color: #00eaea;
  cursor: pointer;
}
.panel-faq-answer {
  padding: 15px;
  display: none;
  /* height: 0;
  overflow: hidden; */
}
.active {
  display: block;
  height: 100%;
  transition: all 1s;
}
