/* html, body{

} */
#title {
  margin: 60px 0 40px;
}
#local-data-table td,
#local-data-table th {
  border-right: 1px solid #dee2e6;
}
#btn-set-data {
  padding: 10px 25px;
  background-color: cyan;
  border: none;
}
#btn-get-data {
  padding: 10px 25px;
  background-color: cyan;
  border: none;
}
