div#header-center {
  margin: 0 auto; /* 가운데 정렬 */
  width: 1080px;
}

div#header-search > h1 {
  /* id="header-search"인 태그의 자식 h1 선택*/
  width: 280px;
  display: inline-block;
}
#header-search h2 {
  display: none; /* 해당 태그를 스크린 리더(시각장애인용)도 읽지 못함 */
}

#header-search fieldset {
  width: 520px;
  display: inline-block;
}
