* {
  /* 에스터리스크 : css에서 모든 태그를 가리킴 */
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo', sans-serif;
}
header {
  height: 170px;
}
#fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.center-align {
  margin: 0 auto; /* 가운데 정렬 */
  width: 1080px;
}
#header-search {
  clear: both;
  padding-top: 20px;
}
div#header-search > h1 {
  /* id="header-search"인 태그의 자식 h1 선택*/
  display: inline-block;
}
div#header-search > h1 > a {
  /* id="header-search"인 태그의 자식 h1 선택*/
  width: 222px;
  height: 52px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  background-size: 442px 428px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* display:none 해당 태그를 스크린 리더(시각장애인용)도 읽지 못함 */
/* #header-search h2 {
  display: none;
} */

#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 20px;
  padding: 0 0 0 10px;
  border: 2px solid #03cf5d; /* hew 표기법 (RGB표기법도 쓰임)*/
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}
#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  width: 444px;
  height: 24px;
  vertical-align: middle;
}
#header-search fieldset button {
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -1px;
}
#search-image {
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  background-size: 442px 428px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px -24px;
}
nav {
  height: 46px;
  border-top: 1px solid #f1f3f6;
}
nav ul {
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
  position: relative;
  display: inline-block;
}
nav li {
  display: inline-block;
  padding-right: 14px;
  color: #03c75a;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-decoration: none;
}
nav a {
  position: absolute;
}
nav li:nth-child(1) a {
  top: 21px;
  left: 4px;
  width: 29.4px;
  height: 20px;
}
nav li:nth-child(2) a {
  top: 21px;
  left: 53px;
  width: 29.4px;
  height: 20px;
}
nav li:nth-child(3) a {
  top: 21px;
  left: 102px;
  width: 44.1px;
  height: 20px;
}
nav li:nth-child(4) a {
  top: 21px;
  left: 166px;
  width: 44.1px;
  height: 20px;
}
nav li:nth-child(5) a {
  top: 21px;
  left: 230px;
  width: 29.4px;
  height: 20px;
}
nav li:nth-child(6) a {
  top: 21px;
  left: 279px;
  width: 73.5px;
  height: 20px;
}
.nav-divider {
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 24px 16px 0;
  background: #ebeef3;
}
#header-top {
  float: right;
}
#header-top:first-child {
  color: #888; /* hex 표기법에서 RGB가 두 글자씩 같은 경우 한 글자로 줄일 수 있다. */
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -1px;
}
#search-keyboard {
  background: url(./sp_main_947f65.png);
  background-size: 442px 428px;
  background-position: -398px -267px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 12px;
  position: absolute;
  top: 40%;
  right: 75px;
}
#search-history {
  background: url(./sp_main_947f65.png);
  background-size: 442px 428px;
  background-position: -170px -151px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 5px;
  position: absolute;
  top: 45%;
  right: 57px;
}
