header {
  position: relative;
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  margin-left: 130px;
  width: 150px;
  height: 50px;
  background-color: green;
}
#header-sort-bar {
  height: 50px;
  width: 306px;
  border: solid 2px lightgray;
  border-left: none;
}
#header-sort-bar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 9px;
  margin: 0;
}
#header-sort-bar li {
  padding-right: 2px;
  font-size: 18px;
  float: left;
  width: 83px;
  height: 25px;
  line-height: 30px;
  text-align: center;
}
#header-sort-bar li:first-child {
  margin-left: 10px;
}
#header-sort-bar li > span {
  font-weight: lighter;
}

#search-bar {
  position: absolute;
  right: 0px;
  border: solid 2px lightgray;
  width: 350px;
  height: 50px;
}
#search {
  /* border: none; */
  width: calc(100% - 48px);
  height: 100%;
  font-size: 20px;
  padding-left: 20px;
  border: none;
}
#search-btn {
  position: absolute;
  right: 0px;
  width: 48px;
  height: 100%;
}

#pop-search-container {
  border: solid 2px lightgray;
  border-left: solid 4px lightgray;
  border-right: solid 4px lightgray;
  position: relative;
}
#popular-reviews-container {
  width: 900px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}
.pop-reviews {
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
}
.pop-reviews > img {
  width: 100%;
  height: 270px;
}
.pop-reviews > span {
  font-size: 20px;
}
.recommend-pop {
  background-color: red;
}
.view-pop {
  background-color: orange;
}
.comment-pop {
  background-color: yellow;
}
#prev-pop-btn {
  position: absolute;
  top: 161px;
  left: -40px;
  border: none;
  background-color: pink;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
#next-pop-btn {
  position: absolute;
  top: 161px;
  right: -40px;
  border: none;
  background-color: pink;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

#main-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: solid 2px lightgray;
  width: 1080px;
  height: 1000px;
}

#main-contents-left {
  position: absolute;
  left: 0px;
  width: 737px;
  height: 100%;
  background-color: blue;
}

#main-contents-right {
  position: absolute;
  font-size: 15px;
  right: 0px;
  width: 340px;
  height: 100%;
  background-color: cyan;
}

#todays-review-container {
  border: solid 2px lightgray;
  width: 100%;
  height: 100%;
}
.todays-review {
  height: 250px;
}

#login {
  border: solid 2px lightgray;
  width: 100%;
  height: 200px;
}

#ranking {
  border: solid 2px lightgray;
  width: 100%;
  height: 500px;
}

footer {
  border: solid 2px lightgray;
  width: 100%;
  height: 200px;
}
